[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Categories=System;TerminalEmulator;
Comment[en_GB]=Multi tabbed terminal handler
Comment=Multi tabbed terminal handler
Exec=cqterm
GenericName[en_GB]=Multi tabbed terminal handler
GenericName=Multi tabbed terminal handler
Icon=utilities-terminal
Name[en_GB]=cqterm
Name=cqterm
Terminal=false
